.w3-mgg-theme-body {color:#000088 !important; background-color:#E0F1FF !important; font-family: Arial, Helvetica, sans-serif; !important}

.w3-mgg-theme-header {color:#fff !important; background-color:#51b1ff !important}

.w3-mgg-theme-appbar {color:#fff !important; background-color:#219bff !important}

.w3-mgg-theme-footer {color:#fff !important; background-color:#51b1ff !important}

