<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>

	<body>
	
	<div th:fragment="header" th:remove="tag">

		<header class="w3-top" id="id-header">
			<div class="w3-container w3-mgg-theme-appbar w3-center">
				The Ultimate Application
			</div>		

			<div class="w3-container w3-mgg-theme-header">
				<div class="w3-bar w3-mgg-theme-header">
					<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue w3-text-pink">Home</a>
					<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 1</a>
					<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 2</a>
					<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 3</a>
					<div class="w3-dropdown-hover">
						<button class="w3-button w3-text-indigo w3-mgg-theme-header w3-hover-blue">Dropdown</button>
						<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-mgg-theme-header">
							<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 11</a>
							<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 12</a>
							<a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 13</a>
						</div>
					</div>
					<span class="w3-bar-item w3-text-indigo w3-right">Text</span>
				</div>
			</div>
		</header>
		
		<div th:replace="~{headerplaceholder :: headerplaceholder}"></div>

	</div>
	
	</body>
</html>