<!DOCTYPE html>

<!--

https://www.w3schools.com/w3css/w3css_navigation.asp

-->

<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-pale-blue" onload="getHeight();" onresize="getHeight();">

<!-- <header class="w3-container w3-light-blue w3-top">
	 <div class="w3-bar w3-light-blue">
		  <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue w3-text-pink">Home</a>
		  <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 1</a>
		  <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 2</a>
		  <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 3</a>
		  <div class="w3-dropdown-hover">
			    <button class="w3-button w3-text-indigo w3-light-blue w3-hover-blue">Dropdown</button>
			    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-light-blue">
				      <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 11</a>
				      <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 12</a>
				      <a href="#" class="w3-bar-item w3-button w3-text-indigo w3-hover-blue">Link 13</a>
			    </div>
		  </div>
		  <span class="w3-bar-item w3-text-indigo w3-right">Text</span>
	</div>
</header> -->

<div th:insert="~{header :: header}"></div>

<div class="w3-container w3-pale-blue">
  <p th:utext=#{color.footer}>color</p>
  <p th:utext=#{msg}>msg</p>
  <p>0</p>
  <p>1</p>
  <p>2</p>
  <p>3</p>
  <div id="out">out</div>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>W3.CSS</p>
  <p>98</p>
  <p>99</p>
</div>

<!-- <footer class="w3-container w3-light-blue w3-bottom">
	<div th:insert="~{footer :: copy}"></div>
  <p>W3.CSS</p>
</footer> -->

<div th:insert="~{footer :: footer}"></div>

</body>
</html>






<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Thymeleaf Fragments</title>
<link rel="stylesheet" th:href="@{/css/mgg.css}" />
</head>

<body>
	<div>Thymeleaf Fragments index page</div>


	<div th:insert="~{footer :: copy}"></div>
</body>
</html> -->