<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Thymeleaf Basic</title>
<link rel="stylesheet" th:href="@{/css/mgg.css}" />
</head>

<body>
	<div class="commondiv">Thymeleaf Basic View page</div>

	<div class="commondiv">
		<span th:text="${message}"></span>
	</div>

	<div class="commondiv">
		<table border="1">
			<caption>Persons</caption>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
			<tr th:each="person : ${persons}">
				<td th:utext="${person.firstName}">...</td>
				<td th:utext="${person.lastName}">...</td>
			</tr>
		</table>
	</div>

	<div class="commondiv">
		<table>
			<tr>
				<th>1</th>
				<th>2</th>
			</tr>
			<tr>
				<td>text</td>
				<td th:text="${th_text_example}">...</td>
			</tr>
			<tr>
				<td>utext</td>
				<td th:utext="${th_utext_example}">...</td>
			</tr>
			<tr>
				<td>date and time format</td>
				<td th:text="${#dates.format(th_date_today, 'yyyy.MM.dd HH:mm:ss')}">...</td>
			</tr>
		</table>
	</div>

	<div class="commondiv">
		<form action="/action_page.php">
			<fieldset>
				<legend>Personal information</legend>
				First name:<br> <input type="text" name="firstname"
					value="Mickey"> <br> Last name:<br> <input
					type="text" name="lastname" value="Mouse"> <br> <br>
				<input type="submit" value="Submit">
			</fieldset>
		</form>
	</div>

</body>


</html>